.section_detail{
    background-color: rgb(33, 33, 33);


}

.div_detail{
    display: flex;
    flex-direction: row;
    margin: 50px;

}

.div_text_detail{
    margin-left: 30px;
}

.botonfav{
    background-color: black;
    margin-top: 20px;


}

.text{
    margin: 0px;
    font-family: 'Work Sans';
    font-size: 20px;
    padding-top: 10px;
    color: white
};



